<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div th:include="fragments/header :: header">
</div>
<div class="container" align="center">
    <h2>CREATE NEW ROLE</h2>
    <div th:if="${message}" th:text="${message}" class="alert alert-success"/>
    <div th:if="${errors}">
        <th:block th:each="error : ${errors}">
            <div th:text="${error.getDefaultMessage()}" class="alert alert-danger"/>
        </th:block>
    </div>

    <div class="table table-striped">
        <div class="form-group">
            <br>
            <br>
            <form th:action="@{/admin/createnewrole}" method="post">
                <input type="text" th:value="*{role}" th:name="role" style="width: 400px"/>
                <br>
                <input type="submit" value="Create"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>